<!--@subject {{var operationName}} - Scheduled Import Failed @-->
<table>
    <thead>
        <tr>
            <th>"{{var operationName}}" - Zaplanowany import nie powiódł się.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    <b>Nazwa procesu:</b><br />  {{var operationName}}
                </p>
                <p>
                    <b>Typ obiektu:</b><br />  {{var entity}}
                </p>
                <p>
                    <b>Historia plików:</b><br />  {{var fileName}}
                </p>
                <p>
                    <b>Data i czas:</b><br />  {{var dateAndTime}}
                </p>
                <p>
                    <b>Zapis ścieżki wykonania:</b><br />  {{var trace}}
                </p>
            </td>
        </tr>
    </tbody>
</table>
